body {
    background-color: rgb(237, 237, 237);
}

.expenseChart {
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
}

.time {
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    background-color: rgb(194, 194, 194);
    color: rgb(0, 0, 0);
    align-items: center;
}

.time .month {
    font-weight: 600;
    font-size: 1rem;
}

.time .yaer {
    font-size: 0.9rem;
}

.time .day {
    font-size: 1.5rem;
    font-weight: 600;
}

.expenseName {
    width:80px;
    padding-right: 40%;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.category {
    font-size: 1rem;
    color: grey;
    padding-bottom: 10px;
}

.Price {
    background: rgb(42, 172, 226);
    background: linear-gradient(161deg, rgba(42, 172, 226, 0.9) 0%, rgba(195, 105, 254, 0.9) 30%, rgba(215, 114, 226, 0.9) 59%, rgba(252, 149, 111, 0.9) 100%);
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}